div {
    background-color: darkgreen;
    color: #333;
    font-family: Arial, sans-serif;
    padding: 0px;
    border-radius: 5px;
    border: 2px solid rgba(0, 60, 0, 1);
    outline-style: none;
    outline-color: rgba(0, 125, 0, 0.4);
    background-image: linear-gradient(rgba(0, 125, 0, 0.4), rgba(0, 125, 0, 0.4)), url(Images/Main/BackgroundThing.png);
}

div.MainThing {
    max-width: 700px;
    max-height: 300px;
}

div.MediaContainerMain {
    max-height: 300px;
    max-width: 350px; 
}

div.TopBar {
    max-height: 150px;
    max-width: 700px;
}

div.NewsSelector {
    max-height: 125px;
    max-width: 250px;
}

div.ImageContainerMain {
    max-height: 150px;
    max-width: 350px;
}

@media (max-width: 1224px) {
    div.MainThing {
        width: 75%;
        height: 50%;
    }

    div.MainThing {
        max-height: 200px;
        max-width: 300px;
    }

    div.MediaContainerBack {
        max-height: 100px;
        max-width: 300px;
    }

    div.MediaContainerMain {
        max-height: 200px;
        max-width: 150px;
    }

    div.NewsSelector {
        max-height: 75px;
        max-width: 200px;
    }

    div.ImageContainerMain {
        max-height: 200px;
        max-width: 150px;
    }

    div.TopBar {
        max-height: 100px;
        max-width: 300px;
    }
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

p, label {
    font-family: 'Fira Code';
    font-size: 100%;
    color: #00ae00;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 5px;
}