div {
    background-color: darkgreen;
    color: #00ae00; /*previously #333;*/
    font-family: Arial, sans-serif;
    padding: 0px;
    border-radius: 5px;
    border: 2px solid rgba(0, 60, 0, 1);
    outline-style: none;
    outline-color: rgba(0, 125, 0, 0.4);
    background-image: linear-gradient(rgba(0, 125, 0, 0.4), rgba(0, 125, 0, 0.4)), url(Images/Main/BackgroundThing.png);
    box-shadow: 10px, 10px 5px black;
    font-family: 'Fira Code';
    font-size: 100%;
    text-align: center;
}

div.MainThing {
    max-width: 700px;
    max-height: 500px;
}

div.MediaContainerMain {
    max-height: 300px;
    max-width: 350px; 
}

div.TopBar {
    max-height: 50px;
    max-width: 950px;
    display: flex;
    flex-wrap: nowrap;
}

div.TopBar > button, input {
    width: 100px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

div.NewsSelector {
    max-height: 125px;
    max-width: 250px;
}

div.ImageContainerMain {
    max-height: 150px;
    max-width: 350px;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

p, label {
    font-family: 'Fira Code';
    font-size: 100%;
    color: #00ae00;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 5px;
}

button, input {
    background-color: darkgreen;
    color: #333;
    font-family: Arial, sans-serif;
    padding: 0px;
    border-radius: 5px;
    border: 2px solid rgba(0, 60, 0, 1);
    outline-style: none;
    outline-color: rgba(0, 125, 0, 0.4);
    background-image: linear-gradient(rgba(0, 75, 0, 0.4), rgba(0, 75, 0, 0.4)), url(Images/Main/BackgroundThing.png);
    font-family: 'Fira Code';
    font-size: 100%;
    color: #00ae00;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
    cursor: pointer;
}

button {
    z-index: 1;
    pointer-events: auto;
}

button:hover, input:hover {
    background-color: rgba(0, 125, 0, 0.4);
    background-image: linear-gradient(rgba(0, 125, 0, 0.4), rgba(0, 125, 0, 0.4)), url(Images/Main/BackgroundThing.png);
}

div.TopBar > button, input {
    width: 25px;
    text-align: center;
    line-height: 75px;
    font-size: .8em;
}

div.MainDisplay {
    min-height: 400px;
    min-width: 650px;
    max-width: 1100px;
    max-height: 550px;
}

table {
    font-family: 'Fira Code';
    width: 100%;
    transform: scale(0.9);
    border-collapse: collapse;
    background-image: linear-gradient(rgba(0, 75, 0, 0.4), rgba(0, 75, 0, 0.4)), url(Images/Main/BackgroundThing.png);
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgba(0, 60, 0, 1);
}

td, th {
    border: 1px solid rgba(0, 75, 0, 0.4);
    text-align: left;
    padding: 8px;
    background-image: linear-gradient(rgba(0, 75, 0, 0.4), rgba(0, 75, 0, 0.4)), url(Images/Main/BackgroundThing.png);
    text-align: center;
    border: 2px solid rgba(0, 60, 0, 1);
    font-family: 'Fira Code';
    color: #00ae00;
}

tr:nth-child(even) {
    background-color: rgba(0, 75, 0, 0.4);
    background-image: linear-gradient(rgba(0, 75, 0, 0.4), rgba(0, 125, 0, 0.4)), url(Images/Main/BackgroundThing.png);
    text-align: center;
    border: 2px solid rgba(0, 60, 0, 1);
    font-family: 'Fira Code';
    color: #00ae00;
}

::-webkit-scrollbar {
    width: 10px;
    background-image: linear-gradient(rgba(0, 75, 0, 0.4), rgba(0, 75, 0, 0.4)), url(Images/Main/BackgroundThing.png);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px darkgreen;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 75, 0, 0.4), rgba(0, 75, 0, 0.4)), url(Images/Main/BackgroundThing.png);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgba(0, 175, 0, 0.4), rgba(0, 175, 0, 0.4)), url(Images/Main/BackgroundThing.png);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(rgba(0, 175, 0, 0.4), rgba(0, 175, 0, 0.4)), url(Images/Main/BackgroundThing.png);
}

div.NewsTile {
    max-height: 300px;
    max-width: 600px;
}

@media (max-width: 1224px) {
    div.NewsTile {
        max-height: 190px;
        max-width: 600px;
    }

    div.MainThing {
        width: 75%;
        height: 50%;
        max-height: 200px;
        max-width: 450px;
    }

    div.MediaContainerBack {
        max-height: 100px;
        max-width: 300px;
    }

    div.MediaContainerMain {
        max-height: 200px;
        max-width: 150px;
    }

    div.NewsSelector {
        max-height: 75px;
        max-width: 200px;
    }

    div.ImageContainerMain {
        max-height: 200px;
        max-width: 150px;
    }

    div.TopBar {
        width: 90%;
        max-height: 25px;
        max-width: 450px;
    }

    div.TopBar > button, input {
        width: 25px;
        text-align: center;
        line-height: 75px;
        font-size: 0.35em;
    }

    div.MainDisplay {
        min-height: 200px;
        min-width: 350px;
        max-width: 450px;
        max-height: 600px;
    }

    .BottomUnit {
        font-size: 0.7em;
    }

    .flag {
        min-height : 25px;
        min-width: 30px;
    }

    p, label {
        font-size: 0.7em;
    }

    .TitleBar {
        font-size: 50%
    }
}